body{
    background-color : #252424;
    transition: ease 1s;
}

.menu img{
    width : 73px;
    float : left;
    margin-left : 10px;
    margin-right : 10px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    transition: ease 1s;
}

.menu li {
    float: left;
    font-size : 21px;
}

.menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: ease 1s;
}

.menu li a:hover:not(.active) {
    background-color: #7b54a4;
}

.showbutton {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #7b54a4;
    text-align: center;
    font-size: 28px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.showbutton span {
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}

.showbutton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.showbutton:hover span {
    padding-right: 25px;
}

.showbutton:hover span:after {
    opacity: 1;
    right: 0;
}

h1{
    max-width: 480px;
    color: #d1d1d1;
    margin-top : 50px;
    margin-left : 20px;
    font-family: "Fira Sans",Helvetica,Arial,sans-serif;
    transition: ease 0.5s;
}

.img{
    float : right;
    width : 500px;
    margin-right : 100px;
    opacity: 0;
    transition: ease 0.5s;
}

figure img {
    transition: .3s ease-in-out;
}
figure:hover img {
    transform: scale(0.9);
}

.showtext .img{
    opacity: 1;
    transition: ease 0.5s;
}

.p1{
    float : left;
    display : inline;
    font-size: 17px;
    margin-left : 20px;
    color : #d1d1d1;
    width : 50%;
    font-family: "Fira Sans",Helvetica,Arial,sans-serif;
    transition: ease 0.5s;
}

.p2{
    font-family: "Fira Sans",Helvetica,Arial,sans-serif;
    float : left;
    display : inline;
    font-size: 17px;
    margin-left : 20px;
    color : #9b9b9b;
    width : 50%;
    opacity: 0;
    transition: ease 0.5s;
}

.showtext .p2{
    opacity: 1;
    transition: ease 0.5s;
}

.p3{
    font-family: "Fira Sans",Helvetica,Arial,sans-serif;
    float : right;
    display : inline;
    font-size: 17px;
    margin-left : 20px;
    color : #9b9b9b;
    width : 45%;
    opacity: 0;
    transition: ease 0.5s;
}

.showtext .p3{
    opacity: 1;
    transition: ease 0.5s;
}