body{
    background-image: url("../img/background-general.png");
}

.border{
    border-bottom : 4px solid saddlebrown;
    margin-left : -10px;
    margin-right : -8px;
    background-color: white;
}

.icon{
    font-size : 30px;
    margin-bottom : -20px;
    margin-top : -20px;
}

.cuprins{
    font-size : 20px;
    margin-left : 15%;
    margin-top : -53px;
    word-spacing: 25px;
}

.bordertext{
    border : 5px solid saddlebrown;
    border-radius : 10px;
    margin-left : 260px;
    margin-right : 260px;
    margin-top : 50px;
    font-size : 20px;
    background-color: whitesmoke;
}

.img1 {
    float: left;
}

.txt1{
    text-align: center;
    font-size : 15px;
    margin-bottom : -20px;
    margin-top : -10px;
}

.img2 {
    float: right;
}

.txt2{
    text-align: center;
    font-size : 15px;
    margin-bottom : -30px;
    margin-top : -10px;
}

a{
    text-decoration: none;
}

a:visited{
    background-color: transparent;
    color : darkred;
}