body{
    background-color : #252424;
    transition: ease 1s;
}

.menu img{
    width : 73px;
    float : left;
    margin-left : 10px;
    margin-right : 10px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    transition: ease 1s;
}

.menu li {
    float: left;
    font-size : 21px;
}

.menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: ease 1s;
}

.menu li a:hover:not(.active) {
    background-color: #7b54a4;
}

.harta{
    margin-top : 5px;
    float : left;
    transition: ease 1s;
    box-shadow: 2px 2px 2px;
}

.harta img{
    width : 1000px;
    height : 644px;
}

.msgshow #msg{
    font-size : 30px;
    color : #7b54a4;
    transition: ease 1s;
    text-shadow: 1px 1px 1px whitesmoke;
    margin-left: 73%;
    opacity: 0;
    border-bottom: 2px solid #7b54a4;
    margin-right: 77px;
}

.msgshow #msgtext{
    font-size : 25px;
    color : #ffffff;
    transition: ease 1s;
    text-shadow: 1px 1px 1px whitesmoke;
    margin-left: 70%;
    opacity: 0;
    margin-right : 20px;
    margin-top : 150px;
    border-top: 1px solid white;
}