body{
    background-color : #252424;
    transition: ease 1s;
}

.menu img{
    width : 73px;
    float : left;
    margin-left : 10px;
    margin-right : 10px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    transition: ease 1s;
}

.menu li {
    float: left;
    font-size : 21px;
}

.menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: ease 1s;
}

.menu li a:hover:not(.active) {
    background-color: #7b54a4;
}

.harta{
    margin-top : 5px;
    border : 1px solid lightgray;
    float : left;
    transition: ease 1s;
}

.harta img{
    width : 1000px;
    height : 640px;
}

.tabel{
    border : 3px solid grey;
    float : right;
    margin-top : 50px;
    margin-right : 50px;
    display : inline;
    background-color : white;
    text-align : center;
    font-size : 20px;
    transition: ease 1s;
}
