body{
    background-color : #252424;
    transition: ease 1s;
}

.menu img{
    width : 73px;
    float : left;
    margin-left : 10px;
    margin-right : 10px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    transition: ease 1s;
}

.menu li {
    float: left;
    font-size : 21px;
}

.menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: ease 1s;
}

.menu li a:hover:not(.active) {
    background-color: #7b54a4;
}

.text{
    border : 3px solid gray;
    margin-top : 20px;
    margin-left : 25%;
    margin-right : 25%;
    padding : 1.0em;
    background-color : white;
    font-size : 18px;
    transition: ease 1s;
}

h2{
    text-align: center;
}
