body{
    background-color : #252424;
    transition: ease 1s;
}


.menu img{
    width : 73px;
    float : left;
    margin-left : 10px;
    margin-right : 10px;
}

.menu .sprtIcon{
    width : 30px;
    float : right;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    transition: ease 1s;
}

.menu li {
    float: left;
    font-size : 21px;
}

.menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: ease 1s;
}

.menu li a:hover:not(.active) {
    background-color: #7b54a4;
}

.showbutton {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #7b54a4;
    text-align: center;
    font-size: 28px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.showbutton span {
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}

.showbutton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.showbutton:hover span {
    padding-right: 25px;
}

.login{
    float : right;
}

.register{
    float : right;
}

.showbutton:hover span:after {
    opacity: 1;
    right: 0;
}

.text{
    border : 3px solid gray;
    margin-top : 20px;
    margin-left : 25%;
    margin-right : 25%;
    padding : 1.0em;
    background-color : white;
    font-size : 18px;
    transition: ease 1s;
}

h2{
    text-align: center;
}

* {
    box-sizing: border-box;
}

#input {
    background-image: url("../img/search-icon.png");
    background-size: 3%;
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#search {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#search li a{
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
}

#search li a:hover:not(.header) {
    background-color: #eee;
}